<div th:fragment="frag_index_content" class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Address 목록</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12 col-12">

                    <table class="table">
                        <thead class="table-warning">
                            <tr>
                                <th>No</th>
                                <th>도로명</th>
                                <th>건물번호 </th>
                                <th>상세주소</th>
                                <th>시,도</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="address, idx : ${addresslist}"> <!--  반복되는 가장 상위 요소 <= 반복문 적용 -->
                                <td>
                                    <a th:href="@{|/address/detail/${ address.id }|}" > <span th:text="${address.id}"></span> </a>
                                </td>
                                <td>
                                    <span th:text="${address.street_name}"></span>
                                <td>
                                    <span th:text="${address.building_number}"></span>
                                </td>
                                <td>
                                    <span th:text="${address.detail_address}"></span>
                                </td>
                                <td>
                                    <span th:text="${address.city}"></span>
                                </td>
                                <td>
                                    <a th:href="@{|/address/delete/${ address.id }|}" >   삭제  </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <!--/* TODO 0808 3 : Post 등록 진입버튼  */-->
                    <a th:href="@{/address/create}" class="btn btn-dark">Address 등록</a>

                </div>
            </div>
        </div>
    </section>

</div>