<!DOCTYPE html>
<div th:fragment="frag_index_content" class="content-wrapper">
    <!-- Content for product form -->
    <div class="login-box" style="margin-left: 400px; ">
        <div class="login-logo">
            <a href="#"><b>미니프로젝트</b>쇼핑몰</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">주소 등록</p>
                <form method="post" th:object="${spAddressForm}" th:action="@{/address/create}">

                    <div class="input-group mb-3">
                        <input type="text" id="street_name" th:field="*{street_name}" class="form-control"
                            placeholder="도로명" required>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" id="building_number" th:field="*{building_number}" class="form-control"
                            placeholder="건물번호" required>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" id="detail_address" th:field="*{detail_address}" class="form-control"
                            placeholder="상세주소" required>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" id="city" th:field="*{city}" class="form-control" placeholder="시,도" required>
                    </div>

                    <div class="input-group mb-3">
                        <input type="reset" value="초기화" class="btn btn-warning">
                        &nbsp;
                        <input type="submit" value="주소 입력" class="btn btn-warning">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>