<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product Detail</title>
</head>

<body>
    <div th:fragment="frag_index_content" class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div>
                            <img th:src="${product.image_url}" alt="Product Image" width="200" height="200"
                                style="margin-left: 100px; " />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active"><a href="/product/list">Product 목록</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="container my-3">
                        <div class="card my-3">
                            <div class="card-header">
                                제품명 <h3 th:text="${product.product_name}"></h3>
                            </div>
                            <div class="card-body">
                             제품 설명 :   <span class="card-text" th:text="${product.description}"></span>
                             <br>
                             제품 가격 :  <span class="card-text" th:text="${product.product_price}"></span>
                             <br>
                             제품 재고 :   <span class="card-text" th:text="${product.product_quantity}"></span>
                             <br>
                             제품 사진 URL :  <a class="card-text" th:href="${product.image_url}"><span th:text="${product.image_url}"> </span>
                                </a>
                            </div>
                        </div>
                        <a th:href="@{/product/modify/{id}(id=${product.id})}" class="btn btn-success">수정</a>
                        <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-danger">삭제</a>
                        <a th:href="@{/product/review/create/{id}(id=${product.id})}" class="btn btn-primary">리뷰입력</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <p class="login-box-msg">카트에 넣기</p>
            <form method="post" th:object="${spCartForm}" th:action="@{/cart/add}">
                <input type="hidden" id="productid" name="productid" th:value="${product.id}" class="form-control">
                <input type="number" id="quantity" name="quantity" th:field="*{quantity}" class="form-control"
                    placeholder="물건 수량" required min="1" step="1">
                <div class="input-group mb-3">
                    <input type="reset" value="초기화" class="btn btn-warning">
                    &nbsp;
                    <input type="submit" value="카트 등록" class="btn btn-warning">
                </div>
            </form>
        </div>
        <table class="table">
            <thead class="table-warning">
                <tr>
                    <th>리뷰 번호</th>
                    <th>유저 아이디</th>
                    <th>상품평</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="review, idx : ${reviewlist}"> <!--  반복되는 가장 상위 요소 <= 반복문 적용 -->
                    <td>
                        <span th:text="${review.id}"></span>
                    </td>
                    <td>
                        <span th:text="${review.userid}"></span>
                    </td>
                    <td>
                        <span th:text="${review.content}"></span>
                    </td>
                    <td>
                        <a th:href="@{|/product/review/delete/${ review.id }|}" >   삭제  </a>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>