<!DOCTYPE html>
<div th:fragment="frag_index_content" class="content-wrapper">
    <div class="card">
        <p class="login-box-msg">리뷰 입력</p>
        <form method="post" th:object="${reviewForm}" th:action="@{/product/review/create/{id}(id=${product.id})}">
            <input type="hidden" name="productid" th:value="${product.id}">

            <div class="my-3">
                <textarea name="contents" th:field="*{contents}" id="contents" class="form-control"
                    rows="4" placeholder="리뷰를 작성해 주세요" required></textarea>
            </div>

            <div class="input-group mb-3">
                <input type="reset" value="초기화" class="btn btn-warning">
                &nbsp;
                <input type="submit" value="리뷰 입력" class="btn btn-warning">
            </div>
        </form>
    </div>
</div>