<!DOCTYPE html>
<div th:fragment="frag_index_content" class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">QnA 목록</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12 col-12">

                    <table class="table">
                        <thead class="table-warning">
                            <tr>
                                <th>글 번호</th>
                                <th>주제</th>
                                <th>본문</th>
                                <th>작성일자 </th>
                                <th>작성자아이디</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="post : ${postlist}"> <!--  반복되는 가장 상위 요소 <= 반복문 적용 -->
                                <td>
                                    <span th:text="${post.id}"></span>
                                </td>
                                <td>
                                    <a th:href="@{|/qna/post/detail/${ post.id }|}" > 
                                    <span th:text="${post.subject}"></span>
                                    </a>
                                </td>
                                <td>
                                    <span th:text="${post.content}"></span>
                                </td>
                                <td>
                                    <span th:text="${post.createDate}"></span>
                                </td>
                                <td>
                                    <span th:text="${post.username}"></span>
                                </td>
                                <td>
                                    <a th:href="@{|/qna/post/delete/${ post.id }|}" >   삭제  </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <!--/* TODO 0808 3 : Post 등록 진입버튼  */-->
                    <a th:href="@{/qna/post/create}" class="btn btn-dark">질문 등록</a>

                </div>
            </div>
        </div>
    </section>

</div>